@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Slabo+27px');
.App {
  text-align: center;
}

html {
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.logo-mini, .logo-lg {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}

.App-intro {
  font-size: large;
}

#root{
  width: 960px;
  margin: 0 auto;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.embed-container {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}


h1 h2 h3 h4 h5{
  font-family: 'Raleway', sans-serif !important;
  text-align: left;
  margin: 0px;
  padding: 0;
}

.result-container h3{
  margin-bottom: 20px;
}

.App{
    font-family: 'Slabo 27px', serif;
}

#result-summary{
  font-family: 'Slabo 27px', serif;
  font-size: 1.5em;
}

#result-summary strong{
  color:#c0392b !important;
}

#result-summary p{
  margin-bottom: 10px;
}

#result-summary li{
  text-align: left;
}

#result-summary .columns{
  column-count: 2;
  column-gap: 10px;
  margin-top: 30px;
}

#result-summary .column_one{
  break-after: column;
}

#result-summary .analysis{
  font-family: 'Slabo 27px', serif;
}
